<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--<add name="ProductOrderConnectionString" connectionString="Data Source=localhost;Initial Catalog=ProductOrder;Integrated Security=True"
            providerName="System.Data.SqlClient" />-->
		<add name="DBConnect" connectionString="Data Source=localhost;Initial Catalog=Auction;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>